
.leaflet-container {
  min-height: 400px;
  height: 100%;
  width: 100%;
  margin: 0;
  z-index: 1;
}

.leaflet-control-attribution {
  pointer-events: none;
}

.leaflet-marker-icon .number {
  position: relative;
  top: -32px;
  font-size: 12px;
  font-weight: bold;
  width: 32px;
  text-align: center;
  color: mediumblue;
}

input.button-addimage {
  height: 44px;
  width: 44px;
  margin: 2px;
  background-size: 32px 32px;
  line-height: 30px;
  border: 3px solid #ccc;
  border-radius: 4px;
  background-color: transparent;
  background: #fff url("/images/addimage.png") no-repeat center;
  cursor: pointer;
}

label.file-addshape {
  height: 44px;
  width: 44px;
  margin: 2px;
  background-size: 32px 32px;
  line-height: 30px;
  display: block;
  border: 3px solid #ccc;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: transparent;
  background: #fff url("/images/addshape.png") no-repeat center;
  cursor: pointer;
}

input.file-addshapenone {
  display: none;
}

.background-sliders {
  background-color: #fff;
  padding: 10px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border: 2px solid #ccc;
}

input.button-exportpdf {
  height: 44px;
  width: 44px;
  margin: 2px;
  background-size: 32px 32px;
  line-height: 30px;
  border: 3px solid #ccc;
  border-radius: 4px;
  background-color: transparent;
  background: #fff url("/images/pdf.png") no-repeat center;
  cursor: pointer;
}

.map-grid {
  height: 100%;
}

.attributetable {
  height: 25%;
  display: block;
}

.rangething {
  cursor: pointer;
}